@page
@model LondonEstate.Pages.Admin.Bills.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Flat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Flat.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Vendor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.BillType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.BillType.Name)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.PaidDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.PaidDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Bill.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Cancel</a>
    </form>
</div>
