@page
@model LondonEstate.Pages.Admin.Bills.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Flat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Flat.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Vendor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.BillType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.BillType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.PaidDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.PaidDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bill.Id">Edit</a> |
    <a asp-page="./Index">Cancel</a>
</div>
