@page "{id:guid}"
@model LondonEstate.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CountryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CountryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CreatedAt)
        </dd>
    </dl>
</div>

<div class="mt-4">
    <h4>Customer Properties (@Model.Properties.Count)</h4>
    <hr />

    @if (Model.Properties.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Beds</th>
                    <th>Square Meter</th>
                    <th>Estimated Price</th>
                    <th>Status</th>
                    <th>Images</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Model.Properties)
                {
                    <tr>
                        <td>@property.Address</td>
                        <td>@property.NumberOfBeds</td>
                        <td>@property.SquareMeter m²</td>
                        <td>@(property.EstimatedPrice?.ToString("C") ?? "N/A")</td>
                        <td>@property.EstimateStatus</td>
                        <td>@property.Images.Count image(s)</td>
                        <td>
                            <a asp-page="./ViewImages" asp-route-id="@property.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No properties found for this customer.</p>
    }
</div>

<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Customer.Id">Edit Customer</a> |
    <a asp-page="./Dashboard">Back to Dashboard</a>
</div>