@page
@using LondonEstate.Utils.Extensions
@model LondonEstate.Pages.Admin.PropertiesModel
@{
}

@{
    ViewData["Title"] = "Properties";
    var cutoff = DateTime.Today.AddHours(11);
}

<div class="table-responsive ">
    <table class="table table-sm">
    <thead>
        <tr>
            <th>
                Property
            </th>
            @*  <th>
                @Html.DisplayNameFor(model => model.Flat[0].Address)
            </th> *@
            <th class="text-center">
               Check In/Out
            </th>
            <th class="text-center">
                Booking.com
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flat)
        {
            // safe evaluation for nullable CheckOut
            var isAfterCutoff = item.CheckOut is DateTime co && co > cutoff;

            <tr>
                <td>
                    <a asp-page="./Checkin" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                @*  <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td> *@
                <td class="@(isAfterCutoff ? "bg-danger text-white" : "bg-success text-white")" >
                    @item.CheckIn?.ToUkDateString() - @item.CheckOut?.ToUkDateString()
                </td>
                <td  >
                    <a target="_blank" href="@(Model.Flat?.ElementAtOrDefault(0)?.ReservationUrl ?? "#")">
                        @Html.DisplayFor(modelItem => item.BookingNumber)
                    </a>
                </td>
               
            </tr>
        }
    </tbody>
</table>
</div>