@page
@model LondonEstate.Pages.Admin.Rents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.RentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.RentAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rent.Id" />
        <input type="submit" value="Delete" class="btn btn-danger mt-2" /> 
        <a asp-page="./Index" class="btn btn-secondary mt-2">Back to List</a>
    </form>
</div>
