@page
@model LondonEstate.Pages.Admin.Flats.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<div class="table-responsive ">
    <table class="table table-sm">

    <thead>
        <tr>
            <th>
                Property
            </th>

            @* <th>
               Address
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flat)
        {
            <tr>
                <td>
                   <a  href="@Html.DisplayFor(modelItem => item.FlatUrl)" target="_blank">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                        <div>
                            @Html.DisplayFor(modelItem => item.Address)
                        </div>
                </td>

                @* <td>
                     @Html.DisplayFor(modelItem => item.Address)
                </td> *@

                <td>
                         <a class="btn btn-sm btn-outline-primary m-1" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-outline-primary m-1" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-outline-primary m-1" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
